In [1]:
import pandas as pd

In [2]:
data=pd.read_csv("/content/sample_data/train.csv")

In [3]:
data.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50

In [ ]:
#Examine any null values.

In [4]:
data.isna().sum()

Unnamed: 0              0
Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                  38
New_Price            5032
Price                   0
dtype: int64

In [5]:
data2 = pd.DataFrame(data)

In [6]:
# (b) Mileage, Engine, Power, and New Price units were removed and converted to floats.

In [7]:
data2['Mileage'] = data2['Mileage'].str.extract('(\d+\.\d+)').astype(float)

data2['Engine'] = data2['Engine'].str.replace(' CC', '').astype(float)

data2['Power'] = data2['Power'].str.extract('(\d+\.\d+)').astype(float)

data2['New_Price'] = data2['New_Price'].str.extract('(\d+\.\d+)').astype(float)

In [ ]:
# (a)
#Substitute the NA values for the engine, power, and mileage with the median
#The best substitute method is the median since it prevents outliers and maintains the center tendency.
#Change the Seat NA settings to Mode. Despite being a quantitative value, the number of seats is discontinuous, hence the mode is employed.
#It is preferable to remove a column in the instance of Newprice since there are a lot of null values there. Inputing any values could generate outliers in the data and incorrect analysis.

In [8]:
data2['Mileage'].fillna(data2['Mileage'].median(),inplace=True)
data2['Engine'].fillna(data2['Engine'].median(),inplace=True)
data2['Power'].fillna(data2['Power'].median(),inplace=True)

data2['Seats'].fillna(data2['Seats'].mode()[0],inplace=True)

data2.drop('New_Price', axis=1, inplace=True)#axis=1 indicates to drop a column

In [9]:
output_csv_file = 'cl_data.csv'
data2.to_csv(output_csv_file, index=False)

In [10]:
data1=pd.read_csv("/content/cl_data.csv")

In [11]:
data1.isna().sum()

Unnamed: 0           0
Name                 0
Location             0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
Price                0
dtype: int64

In [13]:
# (c)
data1['Fuel_Type'].replace({'Diesel': 0, 'Petrol': 1, 'Electric': 2}, inplace=True)
data1['Transmission'].replace({'Manual': 0, 'Automatic': 1}, inplace=True)
data1['Owner_Type'].replace({'First': 1, 'Second': 2, 'Third': 3, 'Fourth & Above': 4}, inplace=True)

In [14]:
data1.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,0,0,1,19.67,1582.0,126.20,5.0,12.50
1,2,Honda Jazz V,Chennai,2011,46000,1,0,1,18.19,1199.0,88.70,5.0,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,0,0,1,20.77,1248.0,88.76,7.0,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,0,1,2,15.20,1968.0,140.80,5.0,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,0,0,1,23.08,1461.0,63.10,5.0,3.50

In [15]:
output_csv_file = 'cl1_data.csv'
data1.to_csv(output_csv_file, index=False)

In [ ]:
# (d) Include the new column CURRENT AGE OF THE CAR

In [16]:
from datetime import datetime

In [17]:
current_year = datetime.now().year

data1['Current_Age'] = current_year - data1['Year']

In [18]:

output_csv_file = 'mutate.csv'
data1.to_csv(output_csv_file, index=False)

In [20]:
data3=pd.read_csv("/content/mutate.csv")
data3.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price,Current_Age
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,0,0,1,19.67,1582.0,126.20,5.0,12.50,8
1,2,Honda Jazz V,Chennai,2011,46000,1,0,1,18.19,1199.0,88.70,5.0,4.50,12
2,3,Maruti Ertiga VDI,Chennai,2012,87000,0,0,1,20.77,1248.0,88.76,7.0,6.00,11
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,0,1,2,15.20,1968.0,140.80,5.0,17.74,10
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,0,0,1,23.08,1461.0,63.10,5.0,3.50,10